.search-results {
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;
    justify-items: start;
    overflow-y: auto;
    padding: 16px;
}